@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

.hover-bg-dark:hover {
    background-color: black;
    color: white !important;
}

.hover-big:hover {
    transform: scale(1.05);
    transition: transform 1s ease;
}

.container h1.h1-before::before {
    display: block;
    font-size: 20px;
    color: #999999;
}
